:root {
    --text: #020b0d;
    --background: #f2fbfd;
    --primary: #22afe2;
    --secondary: #f0908e;
    --accent: #e9e14e;
    }

@font-face {
    font-family: 'OpenSans';
    src: url("/assets/font/OpenSans.ttf") format("truetype");
    font-weight: 300 800;
    font-stretch: 75 100;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('/assets/font/OpenSans-Italic.ttf') format("truetype");
    font-weight: 300 800;
    font-stretch: 75 100;
    font-style: italic;
}

html {
    height: 100%;
    width: 100%;
    color: var(--text);
    background: var(--background);
    font-family: OpenSans;
    font-size: 20px;
}

body {
    margin: 0; /* Remove default margin */
    display: grid;
    flex-direction: column;
    user-select: none;
}

div.header {
    background-color: var(--secondary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

menu.links {
    list-style-type: none;
    display: flex;
    flex-grow: 1; /* Allow the navbar to take up the remaining space */
    margin: 12px;
    padding: 12px 0;
    column-gap: 20px;
    padding: 0;
    justify-content: center; /* Center the navbar text */
    flex-wrap: wrap;
    font-size: 1.2em;
}

div.content {
    display: grid;
    justify-items: stretch;
    margin: auto;
    min-width: 100px;
    max-width: 100vh;
    text-align: left;
    padding: 65px 32px;
    transition: margin-left .5s;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0.5em 0;
    padding-left: 1em;
    font-style: italic;
}

div.hero {
    display: flex;
    align-items: center;
}

#hero_text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

button {
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: var(--accent);
    transition: all 0.2s cubic-bezier(0.18, 0.89, 0.35, 0.99);
}

button:hover {
    background-color: #eee877;
    scale: 1.5;
    border-radius: 20px;
}

footer.footer {
    position: absolute;
    bottom: 0;
    z-index: 99;
    justify-content: space-between;
    padding: 16px 32px;
    width: calc(100vw - 64px);
    height: 2.5rem;
    background-color: var(--primary);
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
}
