:root/*[data-theme="light"]*/ {
    --text: #020b0d;
    --background: #f2fbfd;
    --primary: #22afe2;
    --secondary: #f0908e;
    --accent: #e9e14e;
}

/* :root[data-theme="dark"] {
    --text: #f2fbfd;
    --background: #020b0d;
    --primary: #1daadd;
    --secondary: #71100f;
    --accent: #b1a916;
} */


@font-face {
    font-family: Lexend;
    src: url("/assets/font/Lexend-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

html {
    height: 100%;
    width: 100%;
    color: var(--text);
    background: var(--background);
    font-family: Lexend;
    font-size: 20px;
}

body {
    margin: 0;
    display: grid;
    min-height: 100vh;
}

div.header {
    background-color: var(--secondary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

menu.links {
    list-style-type: none;
    display: flex;
    flex-grow: 1; /* Allow the navbar to take up the remaining space */
    margin: 12px;
    padding: 0 12px;
    column-gap: 1.2em;
    flex-wrap: wrap;
    font-size: 1.2em;
}

a {
    color: var(--text);
    text-decoration: none;
    font-weight: 650;
}

a:hover {
    text-decoration: underline;
}

article.content {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    margin: auto;
    min-width: 600px;
    max-width: 80vw;
    text-align: left;
    padding: 100px 32px 2.5rem;
}

div.text {
    align-self: center;
    width: 70%;
    padding: 2em 0;
}

h1 {
    text-align: center;
}

div.hero#title {
    font-size: xxx-large;
    justify-content: center;
}

h2 {
    margin: 0.5em 0;
    padding-left: 1em;
    font-style: italic;
}

h3 {
    margin: 0.5em 0;
    padding-left: 0.5em;
    font-style: italic;
}

div.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}

@media screen and (min-width: 1272px) {
    div.hero {
        justify-content: space-between;
    }
}

@media screen and (max-width: 1273px) {
    div.hero {
        justify-content: center;
    }
}

#hero_text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#hero_img {
    width: 600px;
    height: 400px;
}

#header_image {
    height: 60px;
    width: 60px;
    padding: 0 10px;
}

ul {
    list-style-type: '→   ';
}

div.resource-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

div.resource {
    scale: 1.5;
    padding: 16px;
}

button,
input[type="submit"] {
    font-family: inherit;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--accent);
    transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

button:hover,
input[type="submit"]:hover {
    background-color: #eee877;
    scale: 1.3;
    border-radius: 15px;
}

form {
    max-width: 512px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 2px solid var(--primary);
    border-radius: 8px;
    resize: none;
    font-family: Lexend;
    font-size: 16px;
}

.instructions {
    font-size: 0.9em;
    color: #666;
}

.instructions p {
    margin: 0;
}

fieldset {
    border: 2px solid var(--primary);
    border-radius: 8px;
    padding: 10px 8px 16px;
    margin: 0;
    width: 100%;
}

fieldset label {
    display: inline;
    margin-right: 10px;
}

div.footer {
    background-color: var(--primary);
    color: var(--text);
    padding: 0.5em 1em;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
    margin-top: auto; /* Push the footer to the bottom of the container */
    display: flex;
    justify-content: space-between;
    z-index: 99;
}
